spring:
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    driver-class-name: com.p6spy.engine.spy.P6SpyDriver
    url: jdbc:p6spy:mysql://47.103.15.21:13307/hikari?useUnicode=true&characterEncoding=utf-8&useSSL=false
    username: root
    password: 5566
    hikari:
      minimum-idle: 5
      idle-timeout: 600000
      maximum-pool-size: 10
      auto-commit: true
      pool-name: MyHikariCP
      max-lifetime: 1800000
      connection-timeout: 30000
      connection-test-query: SELECT 1
server:
  port: 5566
mybatis-plus:
  mapper-locations: classpath*:com/yundui/hikaricp/xml/*Mapper.xml
